section{
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
}

/* order 메인 div */
.order_Main_div{
    width: 1200px;
    /* height: 1200px; */
    /* border: solid 1px red; */
}

.bar{
    border-left: solid 3px black;
    margin-right: 10px;
}

.bar2{
    border-left: solid 1px #e5e5e5;
    color: #777777;
}

/* 주문 상품 div */
.product_div{
    width: 1200px;
    height: 200px;
    border: solid 1px #e5e5e5;
    background-color: #f9f9f9;
    padding: 40px;
    box-sizing: border-box; 
}

.product_inner_div{
    width: 100%;
    height: 100%;
    background-color: white;
    border: solid 1px #e5e5e5;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}

/* 주문 상품 이미지 div */
.order_img_div{
    width: 118px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.order_img_div img{
    width: 100%;
    height: 100%;
}

/* 주문 상품 설명 */
.item_explanation{
    width: 400px;
}

/* 주문 상품 수량 */
.item_count{
    width: 200px;
}

/* 주문 상품 가격 */
.item_price{
    width: 200px;
}

/* 주문 배송비 */
.delivery_price{
    width: 175px;
    text-align: center;
}

.text{
    font-size: 11px;
    color: #777;
    margin: 0;
}

/* 테이블 설정 시작 */
.Orderer_info_teble{
    border-collapse: collapse; 
    width: 1200px;
    font-size: 13px;
}

.Orderer_info_teble tr{
    height: 55px;
}

.Orderer_info_teble tr th{
    border: solid 1px #e5e5e5;
    width: 220px;
    background-color: #f9f9f9;
    text-align: left;
    padding-left: 20px;
}

.Orderer_info_teble tr td{
    border: solid 1px #e5e5e5;
    padding-left: 20px;
}

/* 테이블 설정 끝 */

.red{
    color: red;
}

.Delivery_information_div{
    width: 1200px;
    height: 200px;
    border: solid 1px #e5e5e5;
    background-color: #f9f9f9;
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box; 
    font-size: 11px;
    color: #6c6c6c;
}




